html {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(160, 14, 185, 0.7786069651741294) 28%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(160, 14, 185, 0.7786069651741294) 28%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(160, 14, 185, 0.7786069651741294) 28%, rgba(0, 212, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00d4ff", GradientType=1);
    height: 400px;
    width: auto;
}

#main {
    height: 150px;
    width: auto;
    background-image: url("bot1.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-color: #b90e6a;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

a:link {
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}

#counter {
    height: 250;
    width: auto;
    text-align: center;
    text-align: center;
    font-family: 'Chivo Mono', monospace;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    background: -webkit-linear-gradient(#a00eb9, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#counter {
    height: 250;
    width: auto;
}

#displaycount {
    text-align: center;
    word-spacing: 48px;
    font-family: 'DynaPuff', cursive;
    font-size: x-large;
}

#para {
    text-align: center;
}

h1 {
    color: brown;
    text-align: center;
    font-family: 'Chivo Mono', monospace;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    background: -webkit-linear-gradient(red, #250fb365);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
